body{
    background: #4B2E2B;
    background: linear-gradient(90deg, rgba(75, 46, 43, 1) 0%, rgba(140, 90, 60, 1) 69%, rgba(192, 133, 82, 1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
    margin: 0;
}

h1, p{
    margin: 0;
    padding: 0;
}

.content-home{
    background-image: url(./imagesIcons/leklekSilogHomeImage.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF8F0;
    font-size: clamp(12px,3rem,5rem);
    background-color: rgb(140, 90, 60, .8);
    border-radius: 18px;
    height: 75%;
    padding: 1rem;
    align-content:baseline;
    gap: 1rem;
}

.welcome{
    font-size: smaller;
}
.slogan{
    font-size: x-small
}

.text-container button{
    background: #4B2E2B;
    color: #FFF8F0;
    border: none;
    height: 2rem;
    width: 30%;
    font-size: 1rem;
    border-radius: 16px;
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.text-container button:hover{
    box-shadow:  0 4px 8px 0 rgba(0,0,0,0.4);
    cursor:pointer;
}

/* MENU */
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 80%;
}
.silog-card{
    background: #FFF8F0;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 1rem;
}